{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {% block css %}
    {%endblock%}
<!--    <link rel="stylesheet" href="{% static 'css/style.css'%}">-->
    <link rel="shortcut icon" href="{% static 'b.ico' %}" type="image/x-icon">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@200&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
</head>
    <body>
        <header >
            <div class="home">
                <nav>
                    <figure class="logo">
                        <a href="{% url 'index' %}" class="logo">
                        <img src="{% static 'img/icons8-обмен-знаниями-50 (1).png' %}" alt="лого">
                        </a>
                        <figcaption>Читай-Ка</figcaption>
                    </figure>
                    <div class="menu">
                        <p class="menu_item"><a href="#" class="menu_link">О магазине</a></p>
                        <div class="dropdown">
                          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Жанры
                          </a>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Фантастика</a></li>
                            <li><a class="dropdown-item" href="#">Детектив</a></li>
                            <li><a class="dropdown-item" href="#">Романтика</a></li>
                            <li><a class="dropdown-item" href="#">Фэнтези</a></li>
                            <li><a class="dropdown-item" href="#">Проза</a></li>
                            <li><a class="dropdown-item" href="#">Психология</a></li>
                            <li><a class="dropdown-item" href="#">Детское</a></li>
                            <li><a class="dropdown-item" href="#">История</a></li>
                          </ul>
                        </div>
                        <p class="menu_item"><a href="#" class="menu_link">Новинки</a></p>
                        <p class="menu_item"><a href="#" class="menu_link">Скоро в продаже</a></p>
                        <p class="menu_item"><a href="#" class="menu_link">Контакты</a></p>
                        <button type="button" id="close" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">Вход</button>
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content" style="background: #D5D5D5;">
                              <div class="modal-header" style="border: none;">
                                <div class="modal-title" id="exampleModalLabel">
                                  <div class="container text-center" style="border: none;">
                                    <div class="row align-items-start">
                                      <div class="col-2">
                                        <img src="{% static 'img/pngwing 1.svg' %}" alt="Вход">
                                      </div>
                                      <div class="col-10">
                                        <p>
                                            Вход
                                        </p>
                                      </div>
                                    </div>
                                    </div>
                                </div>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                              </div>
                              <div class="modal-body">
                                <div class="login">
                                  <label for="login">Логин</label><br>
                                  <input type="email" name="login" id="login" placeholder="Введите почту/телефон"><br>
                                  <label for="password">Пароль</label><br>
                                  <input type="text" name="password" id="password" placeholder="Введите пароль">
                          </div>
                              </div>
                              <div class="modal-footer" style="border: none;">
                                <button class="button"><a href="/add.html">Войти</a></button>
                                <button class="button"><a href="/index.html">Отменить</a></button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                </nav>
               </div>
        </header>
{% block content %} {% endblock%}
     <div class="faq">
        <div class="row align-items-center">
          <div class="col">
            <h3> Социальные сети</h3>
          </div>
          <div class="col-md-3">
            <h3>Телефон </h3>
          </div>
          <div class="col-md-3">
            chitai-ka@gmail.com
          </div>
        </div>
        <div class="row align-items-center">
            <div class="col">
              <img src="{% static 'img/вк.png' %}" alt="">
              <img src="{% static 'img/ютуб.png' %}" alt="">
              <img src="{% static 'img/телега.png' %}" alt="">
            </div>
            <div class="col-md-3">
                +79376548932 <br>
                +79287563490
            </div>
            <div class="col-md-3">
              Ростовская область,
              г.Новочеркасск, Московская 55
            </div>
          </div>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>